server:
  port: ${APP_PORT:8080}
  servlet:
    context-path: /it-courses
    application-display-name: ITCourses
  tomcat:
    max-connections: 1000
    accept-count: 100
    connection-timeout: 30000

spring:
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
    log-request-details: true
    format:
      date: iso
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/javaee}
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/changelog-master.xml
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
    properties:
      hibernate.temp.use_jdbc_metadata_defaults: false
    show-sql: false
    hibernate:
      hbm2ddl:
        auto: none
      default_schema: public
      use_sql_comments: true
      format_sql: true
  activemq:
    broker-url: "tcp://localhost:61616"
    password: admin
    user: admin

logging:
  level:
    ROOT: INFO
    ru.tsedrik: DEBUG
    org.springframework: DEBUG
    web.servlet: DEBUG
    org.apache.jasper.servlet: DEBUG
  appenders:
    file:
      maxHistory: 1000

it:
  jms:
    course:
      queue: "it.jms.course"


